/* Reset */
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        /* Fondo de la pagina */
        body{
            font-family: 'segoe ui', sans-serif;
            display: flex;
            background: #f3e5e5;
        }
        /* barra del login */
        .barra{
            width: 250px;
            background: #f5ebe0;
            padding: 25px;
            border-right: 1px solid #e0d4c2;
            height: 100vh;

        }
        /* Logo */
        .logo{
            color: #7f5539;
            font-weight: bold;
            font-size: 22px;
            margin-bottom: 30px;
            
        }
        /* Menu*/
        .menu a{
    display: flex;
    gap: 10px;
    padding: 10px 15px;
    border-radius: 10px;
    text-decoration: none;
    color :#9c6644;
    margin-bottom: 10px;

}
.menu a:active{
    background: #edb5c3;
    font-weight: bold;

}
.menu a:hover{
    background: #e6d5c3;
    cursor: pointer;
}

        .main{
            flex: 1;
            padding: 30px;
        }
 /* Encabezado del panel */
        .header h1{
            color: #7f5539;
           
        }
        .header h2{
            color: #9c6644;
            border-bottom: 20px ;
            font-size: 1.17em;
        }

    /* submenu gestion */
.menu-gestion{
    position: relative;

}
.submenu{
    display: none;
    flex-direction: column;
    margin-left: 25px;
    background-color: #e0d4c2;
    border-radius: 8px;
    padding: 5px;
}
.menu-gestion:hover .submenu{
    display: flex;
}

.submenu a{
  padding: 6px;
  font-size: 14px;
  color: #7f5539;
}
.submenu a:hover{
    background-color: #e3b481;
    border-radius: 5px;
}

