/* Reset */
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        /* Fondo de la pagina */
        body{
            font-family: 'segoe ui', sans-serif;
            display: flex;
            background: #f3e5e5;
        }
        /* barra del login */
        .barra{
            width: 250px;
            background: #f5ebe0;
            padding: 25px;
            border-right: 1px solid #e0d4c2;
            height: 100vh;
            margin-right: 35px;
        }
        /* Logo */
        .logo{
            color: #7f5539;
            font-weight: bold;
            font-size: 22px;
            margin-bottom: 30px;
            
        }
        /* Menu*/
        .menu a{
    display: flex;
    gap: 10px;
    padding: 10px 15px;
    border-radius: 10px;
    text-decoration: none;
    color :#9c6644;
    margin-bottom: 10px;

}
.menu a:active{
    background: #edb5c3;
    font-weight: bold;

}
.menu a:hover{
    background: #e6d5c3;
    cursor: pointer;
}

        .main{
            flex: 1;
            padding: 30px ;
            box-sizing: border-box;
        }
 /* Encabezado del panel */
 .header{
    width: 100%;
    margin-bottom: 20px;
    margin-top: 40px;
 }
        .header h1{
            color: #7f5539;
           
        }
        .header h2{
            color: #9c6644;
            border-bottom: 20px ;
            font-size: 1.17em;
        }


/* CONTENEDOR PRINCIPAL */
.contenedor-principal{
    width: 100%;
    box-sizing: border-box;
}
.producto{
    flex: 1;
}
h3{
    color: #7f5539;
}

.tabla-productos{
    width: 100%;
    border-collapse: collapse;
    margin-top: 100px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.tabla-productos thead tr{
    background-color: #f5ebe0;
    color: #7f5539;
    text-align: left;
    font-weight: bold;
}
.tabla-productos th,
.tabla-productos td{
    padding: 12px;
    width: 20%;
}
.tabla-productos tbody tr{
    border-bottom: 1px solid #dccdb6;
}
.tabla-productos tbody tr:nth-of-type(even){
    background-color: #f5ebe0;
}
.tabla-productos tbody tr:last-of-type{
    border-bottom: 2px solid #7f5539;
}
.tabla-productos tbody td {
    color : #000000;
}

/* MENU */
.menu1{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu1 a{
    color: #9c6644;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
}

.menu1 a:hover{
    background: #e3b481;
}

.logo{
    color: #7f5539;
    font-weight: bold;
    margin-bottom: 20px;
}
.btn{
    border: none;
    padding: 10px 20px;
    background: linear-gradient(135deg,#c99a7a,#af876d);
    color: white;
    border-radius: 14px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 600;
    box-shadow: 0 6px 15px rgba(175,135,109,0.25);
    margin-top: 20px;
}

.btn:hover{
    transform: translateY(-2px);
    background: linear-gradient(135deg,#b98968,#9c745c);
}
.total-general{
    margin-top: 15px;
    text-align: right;
    font-weight: bold;
    color: #7f5539;
    margin-bottom: 20px;
}

/* submenu gestion */
.menu-gestion{
    position: relative;

}
.submenu{
    display: none;
    flex-direction: column;
    margin-left: 25px;
    background-color: #e0d4c2;
    border-radius: 8px;
    padding: 5px;
}
.menu-gestion:hover .submenu{
    display: flex;
}

.submenu a{
   padding: 6px;
  font-size: 14px;
  color: #7f5539;
}
.submenu a:hover{
    background-color: #e3b481;
    border-radius: 5px;
}
/*resumen*/
.Resumen{
    background: #f5ebe0;
    padding: 25px;
    border-radius: 18px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    width: 320px;
    min-height: 500px;
    margin-left: 35px;
}

/*tipo de pago*/
.tipodepago{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.tipodepago button {
    flex-direction: column;
    justify-content: center;
    padding : 12px 12px;
    border: none;
    border-radius: 10px;
    background-color:#e6d5c3;
    cursor: pointer;
}
.tipodepago button:hover {
    background-color: #af876d;
}

.tipodepago button i {
    font-size: 1rem;
    margin-bottom: 5px;
}
.tipodepago button h3 {
    font-size: 14px;
    margin: 0;
    font-weight: 500;
}
.tipodepago button:focus {
    background: linear-gradient(135deg, #c99a7a, #af876d); 
    border-color: #af876d;
    outline: none; 
    box-shadow: 0 4px 15px rgba(175, 135, 109, 0.3);
}
.tipodepago button:focus h3 {
    color: white;
}
.Tipos {
display: flex;
flex-direction: row;
justify-content: center;
align-items: stretch;
gap: 10px;
margin-top: 15px;
width: 100%;
}
/*eliminar*/


h2 {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px; 
    margin-bottom: 20px;
    text-align: center;
}
/*btn modal*/
.btn-modal{
    display: flex;
    justify-content: flex-end;
   
}
.btn-modal label  {
    padding: 10px 20px;
    background: linear-gradient(135deg,#c99a7a,#af876d);
    color: white;
    border-radius: 14px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 600;
    box-shadow: 0 6px 15px rgba(175,135,109,0.25);
}
.btn-modal label:hover{
    transform: translateY(-2px);
    background: linear-gradient(135deg,#b98968,#9c745c);
}
#Modal {
    display: none;
}
.contenedor-modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.08);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
#Modal:checked ~ .contenedor-modal {
    display: flex;
}
.contenido-modal {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background: linear-gradient(135deg, #faf7f3, #f0e6d2);  
    border-radius: 4px;
    border-radius:20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); 
}
 .btn-cerrar{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}
/* INPUTS DEL MODAL */
.contenido-modal input,
.contenido-modal select{
    width: 100%;
    padding: 12px 15px;
    margin-top: 12px;
    border: 2px solid #ead7c4;
    border-radius: 12px;
    background: #faf7f3;
    font-size: 14px;
    color: #7f5539;
    transition: 0.3s;
    outline: none;
    
}

/* EFECTO AL HACER CLICK */
.contenido-modal input:focus,
.contenido-modal select:focus{
    border-color: #c99a7a;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(201,154,122,0.25);
}

/* PLACEHOLDER */
.contenido-modal input::placeholder{
    color: #b08968;
}

/*btn modal factura*/
#Factura {
    display: none;
}
.contenedor-Factura {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.08);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
#Factura:checked ~ .contenedor-Factura {
    display: flex;
}
.contenido-Factura {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 4px;
}
.contenedor-Factura .btn-cerrar-factura {
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}
.btn-Factura label {
    padding: 10px 20px;
    background: linear-gradient(135deg,#c99a7a,#af876d);
    color: white;
    border-radius: 14px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 600;
    box-shadow: 0 6px 15px rgba(175,135,109,0.25);
   
}
.btn-Factura label:hover{
    background: linear-gradient(135deg,#b98968,#9c745c);
}

/* cliente*/
.card{
padding:20px;
border:1px solid #eee;
border-radius:15px;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
margin-bottom:20px;
margin-top:20px;

}

.card input{
width:100%;
padding:12px;
border-radius:10px;
border:1px solid #ddd;
margin-bottom:15px;
margin-top:10px;
}

.cliente{
display:flex;
align-items:center;
gap:15px;
}

.foto{
width:60px;
height:60px;
border-radius:50%;

display:flex;
justify-content:center;
align-items:center;
font-size:25px;
}

.btn-eliminar {
    width: 38px;
    height: 38px;
    border: none;
    border-radius: 8px;
    background: #ffebee;
    color: #d32f2f;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 18px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-eliminar:hover {
    background: #d32f2f;
    color: white;
    transform: scale(1.1);
}

.btn-eliminar:active {
    transform: scale(0.95);
}

/* Modal */
.contenido-Factura {
    width: 600px;
    max-width: 90%;
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}

/* Título */
.contenido-Factura h3 {
    color: #8B5E3C;
    font-size: 30px;
    margin-bottom: 20px;
}

/* Tabla */
#detalleFactura table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#detalleFactura thead {
    background: #f5ede6;
}

#detalleFactura th,
#detalleFactura td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

#detalleFactura th {
    color: #8B5E3C;
    font-weight: 600;
}

#detalleFactura tr:hover {
    background: #faf7f5;
}

/* Total */
#detalleFactura h3 {
    text-align: right;
    color: #8B5E3C;
    font-size: 28px;
    margin-top: 15px;
}

/* Botón confirmar */
.btn-confirmar-factura {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #B88960;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.btn-confirmar-factura:hover {
    background: #9d734e;
}

/* Botón cerrar */
.btn-cerrar-factura {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

.btn-cerrar-factura label {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    background: #B88960;
    color: white;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.3s;
}

.btn-cerrar-factura label:hover {
    background: #9d734e;
}